# Environment Variables
.env
.env.local

# Virtual Environments
venv/
env/
.venv/
.env/

# Python Cache & Bytecode
__pycache__/
*.py[cod]
*$py.class

# IDE & Editor Settings
.vscode/
.idea/
*.swp

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log
